@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:wght@100&display=swap');
:root {
    --while-cl: #fff;
    --font-size-default: 14px;
    --line-height-default: 21px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: var(--font-size-default);
    background-color: var(--while-cl);
    line-height: var(--line-height-default);
    color: var(--while-cl);
}
.container {
    margin-top: 12px;
}

.nav-menu,
.breaking-new-content {
    color: #0366bd;
}
.beaking-quote {
    background-color: #0366bd;
    color: var(--while-cl);
}
.nav-link::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    bottom: -9px;
    left: 0;
    background: #0366bd;
    transition: transform 0.2s;
    transform: scaleX(0);
    transform-origin: right;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.sub-link > .sub-link-text:hover {
    color: azure;
    transition: 0.2s;
}
/* ----------- */
.drop-search {
    background-color: var(--while-cl);
}

.slick-next {
    position: absolute;
    z-index: 99;
    top: 50%;
    right: 0;
    opacity: 0.7;
}
.slick-prev {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 0;
    opacity: 0.7;
}

.slick-next:hover {
    opacity: 1;
}
.slick-prev:hover {
    opacity: 1;
}
/* ----------------------- */
.scroll-top {
    opacity: 0;
}
.scroll-top.active {
    opacity: 1;
}
